.menu_bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-right: 30px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -100px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: whtie; color: black;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: white;}

  body {
    background: linear-gradient(
      to right, 
      rgb(240, 239, 239) 0%, 
      rgb(240, 239, 239) 50%, 
      rgb(66, 66, 66) 50%, 
      black 100%
    );
  }